body {
    font-size: 1em;
    font-family: arial;
    text-align: left;
    margin: 0px auto;
}

td.description { width: 100%; }
td.datetime { width: 0%; vertical-align: top; }
div.alert { border: solid 1px #888888; }
div.c1 { background: #bbbbbb; }
div.c2 { background: #ffff88; }
div.c3 { background: #ffbb88; }
div.c4 { background: #ff8888; }
div.c5 { background: #ff4444; }
div.ack { background: #bbbbff; }

svg {
	font: 13px sans-serif;
	border: 1px solid #888;
}
.axis path {
	fill: none;
	stroke: #000;
}
.axis line {
	fill: none;
	stroke: #ccc;
}
.axis text {
	font-family: arial;
	color: #000;
}
path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}
.legend {
	stroke: #000;
	stroke-width: 0.5;
}
.legendtext {
	stroke-width: 0.0;
	fill: #000;
}
.legendback {
	color: #fff;
	stroke-width: 0.0;
	fill-opacity: 0.3;
}
.fog {
	stroke-width: 0.0;
	fill: #000;
	fill-opacity: 0.3;
}
.brush .extent {
	stroke: #fff;
	fill-opacity: .3;
	shape-rendering: crispEdges;
}
