body {
    font-size: 1em;
    font-family: arial;
    text-align: left;
    margin: 0px auto;
}

p.datetime { float: right; font-size: 0.8em; }
div.alert1 { overflow: hidden; border: solid 1px #888888; background: #bbbbbb; }
div.alert2 { overflow: hidden; border: solid 1px #888888; background: #ffff88; }
div.alert3 { overflow: hidden; border: solid 1px #888888; background: #ffbb88; }
div.alert4 { overflow: hidden; border: solid 1px #888888; background: #ff8888; }
div.alert5 { overflow: hidden; border: solid 1px #888888; background: #ff4444; }
	
