body {
    font-size: 1em;
    font-family: arial;
    text-align: left;
    margin: 0px auto;
}

td.description { width: 100%; }
td.datetime { width: 0%; vertical-align: top; }
div.alert { border: solid 1px #888888; }
div.c1 { background: #dbdbdb; }
div.c2 { background: #d6f6ff; }
div.c3 { background: #fff6a5; }
div.c4 { background: #ffb689; }
div.c5 { background: #ff3838; }
div.ack { background: #bbbbff; }

svg {
    font: 13px sans-serif;
    border: 1px solid #888;
}
.axis path {
    fill: none;
    stroke: #000;
}
.axis line {
    fill: none;
    stroke: #ccc;
}
.axis text {
    font-family: arial;
    color: #000;
}
.legend {
    stroke: #000;
    stroke-width: 0.5;
}
.legendtext {
    stroke-width: 0.0;
    fill: #000;
}
.legendback {
    color: #fff;
    stroke-width: 0.0;
    fill-opacity: 0.3;
}
.future {
    stroke-width: 0.0;
    fill: #000;
    fill-opacity: 0.2;
}
.bands {
    stroke: #888;
    stroke-width: 1px;
}
.minutes_even { fill: #dfd; }
.minutes_odd  { fill: #eee; }
.hours_even { fill: #ddf; }
.hours_odd  { fill: #eee; }
.workday { fill: #eee; }
.weekend { fill: #fdd; }
.months_even { fill: #ffd; }
.months_odd { fill: #eee; }
.days { fill: #000; }


.gauge {
    border: 0;
}
.itemGauge {
    display: table-cell;
}
.wgContainer {
    margin: 20px;
    border: solid 1px #888;
}
